
@{
    ViewBag.Title = "education";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<center><h3>Educational Qualifications</h3></center>
<center>
    <table style="width:60%" >
        <tr>
            <th>Qualification</th>
            <th>Group</th>
            <th>Board</th>
            <th>GPA/CGPA</th>
            <th>Year</th>
        </tr>
        <br />
        <tr>
            <td>S.S.C</td>
            <td>Science</td>
            <td>Saint Martha's High School.</td>
            <td>4.61</td>
            <td>2016</td>
        </tr>
        <tr>
            <td>H.S.C</td>
            <td>Science</td>
            <td>Sreemangal Govt. College</td>
            <td>4.83</td>
            <td>2018</td>
        </tr>

        <tr>
            <td>BSc</td>
            <td>CSE</td>
            <td>AIUB</td>
            <td>3.50</td>
            <td>2023</td>
        </tr>
    </table>
</center>