
@{
    ViewBag.Title = "home";
}
<center>
    <center><h2><b>Home</h2></center></b>
    <br />
    <html>
    <body>
        <h3>Name : Anik Sen</h3>
        <h3>ID : 20-42138-1</h3>
        <h3>Email : aniksen360@gmail.com</h3>
    </body>
</html>
</center>